:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content{
    background: #f9f9f9;
    padding: 20px;
}
header{
    background: #292b31;
    padding: 20px;
    color: #ffff;
}
.sidebar{
    background: #fff;
    padding: 20px; 
}